.dignities {
    padding-top: 120px; 
    min-height: 754px;
    overflow: hidden;
    .container {
        position: relative;
    }
    &__list {
        display: grid;
        row-gap: 190px;
        grid-template-columns: repeat(2, auto) 551px;
        grid-template-rows: repeat(4, auto);
    }
    &__item {
        position: relative;
        grid-column: 1 / 2;
        &:nth-child(even) {
            grid-column: 3 / 4;
        }
        &:nth-child(1) {
            grid-row: 1/2;
        }
        &:nth-child(2) {
            grid-row: 2/3;
        }
        &:nth-child(3) {
            grid-row: 3/4;
        }
        &:nth-child(4) {
            grid-row: 4/5;
            padding-left: 120px;
        }
    }
    &__decor {
        font-size: 120px;
        -webkit-text-stroke: 5px $primaryColor;
        font-family: 'Rubik Mono One', monospace;
        color: transparent;
        position: absolute;
        z-index: -1;
    }
    &__title {
        position: absolute;
        top: 87px;
    }
    &__lines {
        position: absolute;
    }
    &__lines-1 {
        top: 27px;
        left: 437px;
    }
    &__lines-2 {
        top: 215px;
        left: 61px;
    }
    &__lines-3 {
        top: 415px;
        left: 557px;
    }
}

@media (max-width: 1192px) {
    .dignities {
        &__title {
            font-size: 42px;
        }
        &__lines-1 {
            left: 267px;
        }
        &__lines-2 {
            left: 25px;
        }
        &__lines-3 {
            left: 510px;
        }
    }
}

@media (max-width: 1044px) {
    .dignities {
        &__list {
            width: 728px;
            margin: 0 auto;
            gap: 75px;
        }
        &__item {
            width: 280px;
            height: 106px;
            margin: 0;
            width: 370px;
            &:nth-child(even) {
                grid-column: 1/4;
                padding-left: 184px;
            }
        }
        &__lines-1 {
            top: 80px;
            left: 47%;
        }
        &__lines-2 {
            top: 159px;
            left: 15%;
            transform: translateX(-50%);
            transform: rotate(15deg);
        }
        &__lines-3 {
            top: 510px;
            transform: translateX(-50%);
            left: 65%;
        }
    }
}



@media (max-width: 850px) {
    .dignities {
        &__lines-2 {
            top: 159px;
            left: 5%;
            transform: translateX(-50%);
            transform: rotate(15deg);
        }
    }
}


@media (max-width: 768px) {
    .dignities {
        min-height: 800px;
        &__title {
            font-size: 27px;
            margin-top: 35px;
            top: 0;
            width: 306px;
        }
        &__decor {
            font-size: 55px;
            -webkit-text-stroke: 3px $primaryColor;
        }
        &__list {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 60px;
        }
        &__item {
            width: 280px;
            &:nth-child(even) {
                margin: 0;
                padding: 0;
            }
            &:nth-child(3) {
                margin-top: 40px;
            }
            &:nth-child(4) {
                margin-top: 25px;
            }
        }
        &__lines-1 {
            top: 10px;
            left: 30%;
        }
        &__lines-2 {
            top: 275px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__lines-3 {
            top: 450px;
            transform: translateX(-50%);
            left: 55%;
        }
    }
}