.enter {
    padding-top: 180px;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        width: 500px;
        margin: 0 auto;
    }
    &__title {
        cursor: pointer;
        &.active {
            @include red-line;
        }
    }
    &__form {
        display: none;
        padding-top: 20px;
        margin: 0 auto;
        width: 500px;
        &.active {
            display: block;
        }
    }
    &__input {
        margin-top: 20px;
        width: 100%;
        color: $baseFontColor
    }
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}