$primaryColor: #F43F3F;
$primaryColorHover: #FF5454;
$primaryColorPress: #DF3333;

$secondaryColor: #687AB0;
$secondaryColorHover: #5357BE;

$baseFontColor: #000000;
$whiteFontColor: #f8f8ff;

$blackBgColor: #181C26;